@charset "utf-8";

/*set up the baseline for the page so browser defaults
  don't make things weird*/
body, h1, h2, h3, h4, h5, h6, p, div, ul,li {
    margin:0;
    padding:0;
}


body {
    font-family: Verdana, Geneva, sans-serif;
    background-color: #01041D;
}

/* put whole page in container */

#homePage {
    left:5%;
    width:90%;
    top:1%;
    position:absolute
}

#header {
    color: white;
    text-align: center;
    background-image: url('../images/header');
}

#headerLine {
    background-color: black;
    height:5px;
}


/*------------------links/navbar---------------*/
#links {
    background-color: #3d78b8;
}

#linkNav {
    height: 41px;
}

#linkNav ul {
    list-style-type:none;
    margin: 0;
    padding: 0;
}

#linkNav ul li {
    float: left;
    padding-left: 13em;
    padding-right: 3em;
}


#linkNav ul li a {
    display: inline-block;
    /* margin-right:269px; */
    color:white;
    padding: 10px 10px;
    text-align:center;
    text-decoration:none;
    font-size: 15pt;
}

#linkNav ul li a:hover {
    background-color: #111
}
/*---------------------------------------------*/




/*----------------------spacers------------------*/
.spacer1 {
    height:20vh;
    background: #525252; /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #525252 , #3d72b4); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #525252 , #3d72b4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.spacer2 {
    height:20vh;
    background: #525252; /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #525252 , #3d72b4); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #525252 ,#01041D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/*-----------------------------------------------*/



/*------------------about me section-----------*/

#about {
    background: darkslategray;
}

#aboutHeader {
    background:#222;
    color:white;
} 

#aboutContent {
    height:65vh;
    margin: 0 auto;
    background: #333;
    border: 1px solid black
}

#aboutContent p {
    color: white;
}

#aboutContent img {
    float:left;
    border:1px solid black;
    background: #333;
    padding:16px;
    margin: 0.7em;
    height: 48vh;
    width: 25vw;
    background:-moz-linear-gradient(top,#000,#333);
    background:-webkit-gradient(linear,left top, left bottom, from(#000), to(#666));
    border-radius:15px;
    -moz-border-radius:15px;
    -webkit-border-radius:15px
}
/*-----------------------------------------------*/




/*------------------what I have to offer----------*/


#offer {
    background: darkslategray;
}

#offerHeader {
    background:#222;
    color:white;
} 

#offerContent {
    height:65vh;
    margin: 0 auto;
    background: #333;
    border: 1px solid black
}

#offerContent ul {
    list-style-type:none;
    margin: 0;
    padding: 0;
}

#offerContent ul li {
    float: left;
    padding-left: 1em;
    padding-right: 1em;
}
   
.label {
    color: white;
    text-align:center;
}

.text {
    color:white;
    text-align:left;
    font-size: 16pt;
}

#offerContent h2 {
    color: grey;
    background:#444;
}

#offerContent img {
    float:left;
    border:1px solid black;
    background: #333;
    padding:8px;
    height: 8vh;
    width: 4vw;
    margin: 0.7em;
    background:-moz-linear-gradient(top,#000,#333);
    background:-webkit-gradient(linear,left top, left bottom, from(#000), to(#666));
    border-radius:15px;
    -moz-border-radius:15px;
    -webkit-border-radius:15px
}

/* -----------professional history-------*/


#history {
    background: darkslategray;
}

#historyHeader {
    background:#222;
    color:white;
} 

#historyContent {
    height:80vh;
    margin: 0 auto;
    background: #333;
    border: 1px solid black
}

#historyContent ul {
    list-style-type:none;
    margin: 0;
    padding: 0;
}

#historyContent ul li {
    float: left;
    padding-left: 1em;
    padding-right: 0.5em;
}
    
#historyContent p {
    color: white;
    text-align:center;
    max-width: 26.5vw;
    padding-left: 5px;
}

#historyContent h2 {
    color: grey;
    background:#444;
}

#historyContent h3 {
    text-align: center;
    color: gold;
}

#historyContent img {
    float:left;
    border:1px solid black;
    background: #333;
    padding:8px;
    height: 35vh;
    width: 24.5vw;
    margin: 0.7em;
    background:-moz-linear-gradient(top,#000,#333);
    background:-webkit-gradient(linear,left top, left bottom, from(#000), to(#666));
    border-radius:15px;
    -moz-border-radius:15px;
    -webkit-border-radius:15px
}



    
